.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
tests/testthat/data/temp/*
inst/doc
*.log
*cache
doc
Meta
.drake*
tests/testthat/data/03
docs/training_2022/padep_nhd*
*Rplots.pdf
pkgdown
cran-comments.md
.Renviron
CRAN-SUBMISSION
temp.R
revdep
docs/*demo*
